:root {
  // Dark mode
  --background: #1c1c1c;
  --text: #f3f3f3;
  --title: #7dcdfd;
  --cardBg: rgba(2, 20, 46, 0.5);

  // Light mode
  --lightModeBg: #f5f5f5;
  --lightModeText: #f5f5f5;
  --lightModeTitle: #fdd87d;
  --lightModeCardBg: rgba(2, 20, 46, 0.5);
}

html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Cantarell", "Helvetica Neue", sans-serif;
}
