$primary-color: #292929;
$secondary-color: #212121;
$tertiary-color: #adadad;
$text-color: #fffffd;

body {
  background-color: $primary-color;
  color: $text-color;
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Cantarell", "Helvetica Neue", sans-serif;
}
